# models
model/*.pth

# pyc
*.pyc
deeplab/*.pyc
logs*
tb_logs*
snapshots/
snapshot*
result*
*.swp
*.log
*Cam16*

tps_stn_pytorch*

scops_env*

# for testing
exps_cvpr*

# dataset
data/*

#mac
*.DS_Store

#misc
misc_nonsync
